<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>Book Appointment</title>
</head>
<body>
    <nav>
        <a href="home"><div class="title">
            <i class="fa fa-hospital-o" aria-hidden="true" style="font-size: 34px; padding: 0px 15px;"></i>
            <h1>Hospital</h1>
        </div></a>
        <div class="links">
            <a href="/appointment" class="appointment">Book Appointment</a>
            <a href="/dashboard"><i class="fa fa-user" aria-hidden="true" style="font-size: 35px;"></i></a>
            <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true" style="font-size: 35px;"></i></a>
        </div>
    </nav>
    <h2 style="font-size: xx-large;">Book Appointment</h2>
    <div class="list">
        {% if doctors %}
        {% for doctor in doctors %}
        <div class="card">
            {% if doctor.profile_picture %}
            <img src="https://res.cloudinary.com/dusnzf3o5/image/upload/v1/{{ doctor.profile_picture }}" alt="{{doctor.user.username}}">
            {% endif %}
            <h2>{{ doctor.user.first_name }} {{ doctor.user.last_name }}</h2>
            <a href="appointment/book_appointment/{{ doctor.user.id }}">Book Appointment</a>
        </div>
        {% endfor %}
        {% else %}
        <p>No Doctors found.</p>
        {% endif %}
    </div>
</body>
</html>
