*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: math;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
    background-color: #8dbfeb;
    border-radius: 10px;
}
nav .title{
    display: flex;
    align-items: center;
}
.personal{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    font-size: x-large;
    text-align: left;
    margin: 30px auto;
    background-color: #96e1da;
    padding: 30px;
    border-radius: 15px;
    width: fit-content;
}
.personal img{
    width: 200px;
    height: 230px;
    object-fit: cover;
}
.personal h3{
    margin-left: 10px;
}
.personal table{
    padding: 15px 30px;
}
.personal table td{
    padding: 3px 10px;
}